# файлы, находящиеся в подкаталоге tmp
tmp/

# файлы, заканчивающиеся суффиксами _old, _backup
*_old
*_backup

# будут игнорироваться все файлы  Thumbs.db
Thumbs.db

# будут игнорироваться все файлы  .DS_Store
*.DS_Store